html,
body {
    background-color: #000;
    color: #fff;
    font-family: 'Domine', serif;
    margin: 0 .5em;
    background-image: url('img/bg.jpg');
    background-size: 100vw auto;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-size: .95em;
}


section {
}

img {
    display: block;
    height: 200px;
    object-fit: cover;
    width: 100%;
    max-width: 600px;
}

video {
    width: 100%;
    max-width: 600px;
}

h1, h2, p, 
section img,
section video {
    max-width: 600px;
    margin: auto;
}

section .gallery img {
    display: inline;
}

h1, h2, h3 {
    text-align: left;
    margin: 1em auto;
}

h2 {
    font-size: 1em;
    font-weight: normal;
    opacity: .5;
}

.solo,
video {
    display: block;
    margin: 1em auto 0 auto;
}

p {
    line-height: 1.75em;
    text-align: left;
    margin-bottom: 1em;
}

section p.first:first-letter {
    font-size: 3em;
    padding: 0 5px 0 0;
    float: left;
    line-height: 1;
}

figure {
    margin: 0;
    padding: 0;
}

.gallery {
    margin: 1em auto;
    width: 100%;
    max-width: 600px;
}

.gallery img {
    width: 49%;
}

.fslightbox-source {
    max-width: 100%;
}

.caption {
    font-size: .8em;
    opacity: .5;
    display: block;
    margin-bottom: 2em;
}